<span class="badge border text-black mb-1">
  <%= value.class %>
</span>
<% if value.is_a?(Hash) %>
  <table class="table table-bordered">
    <tbody>
      <% value.each do |k, v| %>
        <tr>
          <td><%= k %></td>
          <td><%= render 'items/value', value: v %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% elsif value.is_a?(Array) %>
  <% if value.one? %>
    <span class="badge border text-black mb-1">
      Single
    </span>
    <%= render 'items/value', value: value.first %>
  <% else %>
    <table class="table table-bordered">
      <tbody>
        <% value.each do |element| %>
          <tr>
            <td><%= render 'items/value', value: element %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% else %>
  <%= value %>
<% end %>