<%= content_for :title, @archive %>

<p>Cette archive est gérée par l'organisation <%= link_to @archive.organisation, @archive.organisation %></p>

<%= simple_format @archive.description %>

<p>
  <%= link_to @archive.url, @archive.url, target: :_blank %>
</p>


<% if can? :edit, @archive %>
  <div>
    <%= link_to "Modifier", edit_archive_path(@archive), class: 'btn btn-primary mb-1' %>
    <%= button_to "Supprimer", @archive, method: :delete, class: 'btn btn-danger' %>
  </div>
<% end %>