<%= content_for :title, @archive %>

<div class="row mb-5">
  <div class="col-lg-7">
    <%= simple_format @archive.description %>
    <div>
      <%= link_to 'Format .json', direct_archive_path(organisation_slug: @archive.organisation.slug, archive_slug: @archive.slug, format: :json), class: 'btn btn-primary mb-1' %>
      <%= link_to "Accéder aux secrets", secret_archive_path(@archive), class: 'btn btn-primary mb-1'  if can? :secret, @archive %>
      <%= link_to "Modifier", edit_archive_path(@archive), class: 'btn btn-primary mb-1' if can? :edit, @archive %>
      <%= link_to "Supprimer", @archive, method: :delete, class: 'btn btn-danger mb-1', data: { confirm: 'Confimer la suppression ?' } if can? :destroy, @archive  %>
    </div>

  </div>
  <div class="offset-lg-1 col-lg-4 text-end">
    <label class="form-label">Organisation</label>
    <p><%= link_to @archive.organisation, direct_organisation_path(@archive.organisation) %></p>

    <label class="form-label">Items</label>
    <p><%= @archive.items.count %></p>

    <% if @archive.url.present? %>
      <label class="form-label">Url</label>
      <p><%= link_to @archive.url, @archive.url, target: :_blank %></p>
    <% end %>
  </div>
</div>

<% @items = @archive.items.ordered.page(params[:page]) %>
<%= render 'items/list', items: @items %>
<%= paginate @items %>


