<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> • Oudopo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", defer: true %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>
  <body>
    <%= render 'header' %>
    <div class="container py-3 py-md-5">
      <%= render 'breadcrumbs' %>
      <%= render 'notice' %>
      <main>
        <%= yield %>
      </main>
      <%= render 'footer' %>
    </div>
  </body>
</html>
